* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
    /*reset Firefox user agent styles*/
    -moz-margin-before: 0px;
    -moz-margin-after: 0px;
    -moz-margin-start: 0px;
    -moz-margin-end: 0px;
    -moz-padding-before: 0px;
    -moz-padding-after: 0px;
    -moz-padding-start: 0px;
    -moz-padding-end: 0px;
    /*reset Internet Explorer user agent styles*/
    -ms-margin-before: 0px;
    -ms-margin-after: 0px;
    -ms-margin-start: 0px;
    -ms-margin-end: 0px;
    -ms-padding-before: 0px;
    -ms-padding-after: 0px;
    -ms-padding-start: 0px;
    -ms-padding-end: 0px;
    /*reset Opera user agent styles*/
    -o-margin-before: 0px;
    -o-margin-after: 0px;
    -o-margin-start: 0px;
    -o-margin-end: 0px;
    -o-padding-before: 0px;
    -o-padding-after: 0px;
    -o-padding-start: 0px;
    -o-padding-end: 0px;
}


/* -------------------------------------
General styles (General Module, wrapping around the modules below)
(the styles used everywhere in the page (like the Body) or styles which are used in more than 2 of the modules below (h2, h3, h4, h5, h6, p, a, ul, li))
*/

body {
    width: auto;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    color: white;
    background-color: #286F8E;
    /*, #A0D2CB, #02596D, #9BD4E6, #BBD9D9 */
    background: url(https://github.com/jgmil/mindfulness-journal-node-capstone/blob/master/public/img/1788436104_93e010dc8a_o.jpg?raw=true) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: auto;

    line-height: 1.6;
    font-size: 20px;
    /*background: linear-gradient( rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url(https://github.com/jgmil/my-next-book-api-capstone/blob/master/website-images/Cover-Book-Pages-Bookstore-Open-Book-Textbook-1614230.jpg?raw=true);
    */
}


/* -------------------------------------
Header styles (Main Module)
(all the styles inside the < header > or < nav > tags)
*/

main {
    padding-left: 15px;
    padding-right: 15px;
}

nav {
    background-color: #02596D;
    text-align: left;
    padding: 15px;
    border-bottom: 1px solid black;
}

nav a {
    padding-right: 15px;
}

.nav-right {
    float: right;
    display: inline-block;
}

header {
    max-width: 600px;
    margin: 120px auto 150px;
    border: solid #02596D 1px;
    background-color: rgba(2, 89, 109, .7);
    border-radius: 15px;
    padding: 15px;
}

h {
    font-family: 'Didact Gothic', sans-serif;
}

header > form {
    padding: 10px;
    margin: 10px auto;
}

header > a {
    font-size: 16px;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
    margin-bottom: 15px;
}

h4 {
    font-size: 23px;
    margin-bottom: 5px;
}


/* -------------------------------------
Content styles (Main Module)
(all the styles inside the < sections > or < aside > tags)
*/

section {
    padding: 30px;
    background-color: rgba(2, 89, 109, .7);
    color: white;
    font-size: 20px;
    border: 1px dotted #02596D;
    border-radius: 5px;
}


button {
    background-color: white;
    color: #02596D;
    padding: 5px;
    border-radius: 3px;
    margin: 5px auto;
    font-size: 20px;
    cursor: pointer;
}


li {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}

input {
    margin-bottom: 15px;
}

a:hover {
    font-weight: bolder;
}

section {
    max-width: 900px;
    margin: 5px auto;
}

.info,
.journal-entries {
    background-color: transparent;
    font-size: 0;
    border: none;
}


.info > button {
    border: solid #02596D 1px;
    background-color: #02596D;
    color: white;
    font-size: 16px;
    padding: 5px;
    margin: 5px;
}

.info button:focus {
    border: solid white 1px;
    background-color: white;
    color: #02596D;
}

.info > section {
    font-size: 20px;
}

.info a:hover {
    font-weight: bolder;
}

.info ul {
    margin-bottom: 20px;
}


.journal-entries {
    text-align: left;
    padding-left: 0;
    padding-right: 0;
}

.journal-entries h3 {
    margin-left: 5px;
    background: #02596D;
    padding-left: 5px;
    border-radius: 5px;
}

.entry {
    max-width: 285px;
    font-size: 16px;
    margin: 5px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    padding: 5px;
}

.entry button {
    font-size: 14px;
    margin: auto;
}

input[type=text],
input[type=password] {
    border-radius: 5px;
    font-size: 17px;
    padding: 5px;
    text-align: center;
}

label > input {
    /* HIDE RADIO */
    visibility: hidden;
    /* Makes input not-clickable */
    position: absolute;
    /* Remove input from document flow */
}

label > input + i {
    /* IMAGE STYLES */
    font-size: 30px;
    cursor: pointer;
    border: 2px solid transparent;
    margin: 0 7px 20px 7px;
    display: inline-block;
}

label > input:checked + i {
    /* (RADIO CHECKED) IMAGE STYLES */
    border: 2px solid white;
}

.mood > legend,
.mood > input {
    display: inline-block;
}

.journal input[type=text] {
    width: 75%;
    margin-bottom: 20px;
}


/* -------------------------------------
Footer styles (Main Module)
(all the styles inside the < footer > tag)
*/

footer {
    background-color: #02596D;
    font-size: 15px;
    text-align: left;
    padding: 15px;
    margin-top: 15px;
}

footer li {
    display: inline-block;
}

footer a {
    padding: 5px;
}

/* -------------------------------------
place all the desktop styles above this line
Responsive styles
(the very last module in the CSS, contains all the media queries and it is dealing with the compatibility with mobiles and tablets)
place all the mobile tables styles below this line
*/

@media screen and (max-width: 480px) {
    body,
    p,
    li,
    button,
    label,
    input,
    legend {
        font-size: 16px;
    }

    h1 {
        font-size: 24px;
    }
    h2,
    h3,
    h4 {
        font-size: 20px;
    }

    .journal {
        text-align: center;
    }
}
